@import url("https://fonts.google.com/noto/specimen/Noto+Serif");

/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: beige;
    font-family: "Noto Serif", 'Courier New', Courier, monospace;
     color: #222222;
}

h1, h2 {
        font-family: ""Noto Serif", 'Courier New', Courier, monospace";
    color:   #540375;
    font-size:200;
}
#content{
    text-align: center;
}

#my-avatar{
    border-radius: 50%;
    width: 150px;
}
#my-name{
    font-family: "Lobster";
    color: #540375;
}
